<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Student Grid</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/student_grid.css' %}" />
  </head>
  <body>
    <h1>Student Directory</h1>

    <div class="grid-container">
        {% for student in page_obj %}
      <div class="card">
        <a href="{% url 'student_detail' student.pk %}">
          <img src="{{student.student_img.url}}" alt="{{student.name}}" />
        </a>
        <h3>{{student.name}}</h3>
        <p>Roll : {{student.roll}}</p>
      </div>
      {% endfor %}
    </div>

    <div class="pagination">
     {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">⬅ Previous</a>
        {% endif %}
      <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next ➡</a>
      {% endif %}
    </div>
  </body>
</html>
